@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --cor01: white; /*Cor do texto*/
    --cor02: #FF0000; /*Cor primária*/
    --cor03: #FF5959; /*Cor secundária*/
    --cor04: rgba(0, 0, 0, 0.441); /*Sombra*/
    --cor05: #060910; /*Background - Divs*/
    --fonte01: "Pacifico", cursive; /*Fonte de estilização dos nomes no header*/
    --fonte02: "Overlock SC", sans-serif; /*Fonte de títulos*/
    --fonte03: "Open Sans", sans-serif; /*Fonte do corpo de texto*/
}

* { 
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(images/bg1.png);
    background-repeat: repeat;
}

header {
    background-color: var(--cor02);
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    box-shadow: 0px 1px 5px 2px var(--cor04);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--cor03);
}

header p {
    display: inline-block;
    font-family: var(--fonte01);
    font-size: 1.5em;
    color: var(--cor01);
    margin: 0px 10px;
    text-shadow: 0px 0px 2px var(--cor04);
    }

header div {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-size: cover;
    box-shadow: 0px 0px 3px 2px var(--cor04);
}

header div#foto-e {
    background-image: url(images/foto-e.jpeg);
}

header div#foto-t {
    background-image: url(images/foto-t.jpeg);
}

header a {
    color: var(--cor01);
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
    background-color: var(--cor03);
    transition: background-color 0.5s linear;
}

nav img {
    height: 30px;
    width: 30px;
    margin: 0px 10px;
}

nav img:hover {
    background-color: var(--cor03);
    transition: background-color 0.5s linear;
}

footer {
    background-color: var(--cor02);
    padding: 10px;
    margin-top: 10px;
    border-top: 1px solid var(--cor03);
    box-shadow: -1px 1px 5px 2px var(--cor04);
}

footer p {
    color: var(--cor01);
    text-align: center;
    font-family: var(--fonte03);
}

footer a {
    color: var(--cor01);
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    background-color: var(--cor03);
    transition: background-color 0.5s linear;
}

/* INDEX */

main#index > div {
    padding: 1vh;
    margin: 2.5vh auto;
    height: 30vh;
    width: 80vw;
    box-shadow: 0px 0px 5px 2px var(--cor04);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    border: 1px solid var(--cor03);
}

main#index div p {
    color: var(--cor01);
    font-family: var(--fonte02);
    font-size: 8vh;
    text-shadow: 0px 0px 1px var(--cor04);
}

main#index div a {
    text-decoration: none;
}

main#index div a:hover {
    color: var(--cor01);
    background-color: var(--cor02);
    padding: 5px;
    transition: background-color 0.5s linear;
}

main#index > div.b1 {
    background-image: url(images/bg2.jpg);
    margin-top: 110px;
}

main#index > div.b2  {
    background-image: url(images/bg3.jpg);
}

main#index > div.b3 {
    background-image: url(images/bg4.jpg);
}

main#index > div.b4 {
    background-image: url(images/bg5.jpg);
}

main#index > div.b1 > img {
    height: 45vh;
    width: 20vw;
    margin: 1vh 1vw;
}

main#index > div.b4 > img {
    height: 20vh;
    width: 10vw;
}

/* PG01 */

main#pg01 div.subheader {
    margin: 80px auto 0px auto;
    background-image: url(images/bg2.jpg);
    background-size: cover;
    background-position: center center;
    height: 70vh;
    width: 100%;
    box-shadow: 0px 0px 5px 2px var(--cor04);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--cor03);
}

main#pg01 div.subheader h1 {
    color: var(--cor01);
    text-align: center;
    font-family: var(--fonte02);
    font-size: 10vh;
    text-shadow: 0px 0px 1px var(--cor04);
    padding: 5px;
}

main#pg01 article {
    height: 100%;
    width: 80vw;
    margin: 0px auto;
    padding-bottom: 10px;
    background-color: var(--cor05);
    box-shadow: 0px 0px 5px 2px var(--cor04);
    border-left: 1px solid var(--cor03);
    border-right: 1px solid var(--cor03);
    border-bottom: 1px solid var(--cor03);;
}

main#pg01 article h2 {
    color: var(--cor01);
    text-align: center;
    font-family: var(--fonte02);
    font-size: 7vh;
    text-shadow: 0px 0px 1px var(--cor04);
    padding-top: 30px;
    padding-bottom: 20px;
}

main#pg01 article div.img {
    display: flex;
    width: 100%;
    justify-content: center;
}

main#pg01 article div.img img {
    padding-top: 10px;
    display: inline-block;
    height: 40vh;
    width: 30vw;
    max-width: 200px;
    margin: 0vh 1vw;
}

main#pg01 > article > p {
    text-align: center;
    color:var(--cor01);
    font-family: var(--fonte03);
    padding: 5px;
}

main#pg01 > article > p.img {
    font-size: 0.8em;
}

/* PG02 */

main#pg02 div.subheader {
    margin: 80px auto 0px auto;
    background-image: url(images/bg3.jpg);
    background-size: cover;
    background-position: center center;
    height: 70vh;
    width: 100%;
    box-shadow: 0px 0px 5px 2px var(--cor04);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--cor03);
}

main#pg02 div.subheader h1 {
    color: var(--cor01);
    text-align: center;
    font-family: var(--fonte02);
    font-size: 10vh;
    text-shadow: 0px 0px 1px var(--cor04);
    padding: 5px;
}

main#pg02 article {
    height: 100%;
    width: 80vw;
    margin: 0px auto;
    padding-bottom: 10px;
    background-color: var(--cor05);
    box-shadow: 0px 0px 5px 2px var(--cor04);
    border-left: 1px solid var(--cor03);
    border-right: 1px solid var(--cor03);
    border-bottom: 1px solid var(--cor03);
}

main#pg02 article h2 {
    color: var(--cor01);
    text-align: center;
    font-family: var(--fonte02);
    font-size: 7vh;
    text-shadow: 0px 0px 1px var(--cor04);
    padding-top: 30px;
    padding-bottom: 20px;
}

main#pg02 article div.img {
    display: flex;
    width: 100%;
    justify-content: center;
}

main#pg02 article div.img img {
    padding-top: 10px;
    display: inline-block;
    height: 40vh;
    width: 30vw;
    max-width: 200px;
    margin: 0vh 5px;
}

main#pg02 > article > p {
    text-align: center;
    color:var(--cor01);
    font-family: var(--fonte03);
    padding: 5px;
}

main#pg02 > article > p.img {
    font-size: 0.8em;
}

/* PG03 */

main#pg03 div.subheader {
    margin: 80px auto 0px auto;
    background-image: url(images/bg4.jpg);
    background-size: cover;
    background-position: center center;
    height: 70vh;
    width: 100%;
    box-shadow: 0px 0px 5px 2px var(--cor04);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--cor03);
}

main#pg03 div.subheader h1 {
    color: var(--cor01);
    text-align: center;
    font-family: var(--fonte02);
    font-size: 10vh;
    text-shadow: 0px 0px 1px var(--cor04);
    padding: 5px;
}

main#pg03 article {
    height: 100%;
    width: 80vw;
    margin: 0px auto;
    padding-bottom: 10px;
    background-color: var(--cor05);
    box-shadow: 0px 0px 5px 2px var(--cor04);
    border-left: 1px solid var(--cor03);
    border-right: 1px solid var(--cor03);
    border-bottom: 1px solid var(--cor03);;
}

main#pg03 article h2 {
    color: var(--cor01);
    text-align: center;
    font-family: var(--fonte02);
    font-size: 7vh;
    text-shadow: 0px 0px 1px var(--cor04);
    padding-top: 30px;
    padding-bottom: 20px;
}

main#pg03 article div.video {
    display: flex;
    justify-content: center;
}

main#pg03 article iframe {
    max-height: 40vh;
    min-width: 30vw;
    max-width: 50vw;
}

main#pg03 article p.video {
    text-align: center;
    color:var(--cor01);
    font-family: var(--fonte03);
    padding-top: 3px;
    margin-bottom: 15px;
    font-size: 0.8em;
}

/* PG04 */

main#pg04 div.subheader {
    margin: 80px auto 0px auto;
    background-image: url(images/bg5.jpg);
    background-size: cover;
    background-position: center center;
    height: 70vh;
    width: 100%;
    box-shadow: 0px 0px 5px 2px var(--cor04);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--cor03);
}

main#pg04 div.subheader h1 {
    color: var(--cor01);
    text-align: center;
    font-family: var(--fonte02);
    font-size: 10vh;
    text-shadow: 0px 0px 1px var(--cor04);
    padding: 5px;
}

main#pg04 article {
    height: 100%;
    width: 80vw;
    margin: 0px auto;
    padding-bottom: 10px;
    background-color: var(--cor05);
    box-shadow: 0px 0px 5px 2px var(--cor04);
    border-left: 1px solid var(--cor03);
    border-right: 1px solid var(--cor03);
    border-bottom: 1px solid var(--cor03);;
}

main#pg04 article h2 {
    color: var(--cor01);
    text-align: center;
    font-family: var(--fonte02);
    font-size: 7vh;
    text-shadow: 0px 0px 1px var(--cor04);
    padding-top: 30px;
    padding-bottom: 20px;
}

main#pg04 article div.img {
    display: flex;
    width: 100%;
    justify-content: center;
}

main#pg04 article div.img img {
    padding-top: 10px;
    display: inline-block;
    height: 35vh;
    width: 30vw;
    max-width: 200px;
    margin: 0vh 5px;
}